# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out current repo"
        uses: actions/checkout@v4
      - name: "Setup pnpm package manager"
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: "Setup nodejs"
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - name: "Install project npm packages" 
        run: pnpm install
      - name: "Lint and Test" 
        run: pnpm run lint
      - name: "pnpm publish"
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}



